<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <%- include('partials/header') %>
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-normal">Best place to book</h1>
            <p class="lead text-body-secondary">BookNest is a user-friendly platform for booking hotel rooms. 
              It offers a wide range of options, detailed descriptions, user reviews, and competitive pricing, 
              making it easy to find and reserve the perfect accommodation for your needs.
            </p>
          </div>
        </div>
      </section>
      <h4 class="fw-normal text-center">Sing up to reserve</h4>
    </main>
</body>

</html>