<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">
    <form action="/register" METHOD="POST" class="form-group">
      <div class="mb-2 bg p-4 rounded">
        <h2 class="text-center">Booknest</h2>
        <h4 class="fw-light text-center">Sing up!</h4>

        <label for="username" class="form-label mt-5 fw-semibold">
          User name</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="user name" autocomplete="username">

        <label for="email" class="form-label mt-3 fw-semibold">
          Email address</label>
        <input type="email" class="form-control" id="email" name="email"
          placeholder="name@example.com" autocomplete="email">

        <label for="password" class="form-label mt-3 fw-semibold">
          Password</label>
        <input type="password" id="password" name="password" class="form-control" autocomplete="new-password">

        <label for="verify" class="form-label mt-3 fw-semibold">
          Repeat Password</label>
        <input type="password" class="form-control" id="verify" name="verify" autocomplete="new-password">

        <input type="submit" class="form-control btn-color mt-3" id="submit">
      </div>

    </form>
  </div>
  <%- include('partials/common-scripts'); %>
  <script type="text/javascript" src="scripts/register.js"></script>
</body>
</body>

</html>